@{
    ViewData["Title"] = "Home";
    @model IndexViewModel;
    @using SFA.DAS.SecureMessageService.Core.Entities
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create a message
        </h1>

        <div class="govuk-form-group">
            @using (Html.BeginForm(FormMethod.Post, new { @class = "govuk-form-group" } ))
            {
                @Html.AntiForgeryToken()
                @Html.Label("Message",null, new { @class = "govuk-visually-hidden"} )
                @Html.TextAreaFor(m => m.Message, new { @class="govuk-textarea", @rows="10", @cols="50", @autofocus="true", required="true", autocomplete="off" })
                @Html.DropDownListFor(m => m.Ttl,
                                            new SelectList(Constants.TtlValues,"Key","Value"),
                                            new { @class = "govuk-select" })

                <button type="submit" id="submit" class="govuk-button">
                    Generate URL
                </button>
            }
        </div>
    </div>
</div>